USE [DB_MessageCenter]
GO
/****** Object:  User [MessageAdmin]    Script Date: 26/11/1404 10:46:22 ب.ظ ******/
CREATE USER [MessageAdmin] FOR LOGIN [MessageAdmin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [MessageAdmin]
GO
/****** Object:  UserDefinedTableType [dbo].[BigIntList]    Script Date: 26/11/1404 10:46:22 ب.ظ ******/
CREATE TYPE [dbo].[BigIntList] AS TABLE(
	[ID] [bigint] NULL
)
GO
/****** Object:  Table [dbo].[Message_Archive]    Script Date: 26/11/1404 10:46:22 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message_Archive](
	[MsgArchive_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MsgArchive_Name] [nvarchar](250) NULL,
	[MsgArchive_UserID] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MessageRecipients]    Script Date: 26/11/1404 10:46:22 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessageRecipients](
	[MsgRcp_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MsgRcp_MessageID] [bigint] NOT NULL,
	[MsgRcp_UserID] [bigint] NOT NULL,
	[MsgRcp_DateTime] [nvarchar](23) NULL,
	[MsgRcp_ReadTime] [nvarchar](23) NULL,
	[MsgRcp_ArchiveID] [bigint] NOT NULL,
	[MsgRcp_IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK__MessageR__DEC8484DA8D18A28] PRIMARY KEY CLUSTERED 
(
	[MsgRcp_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MessageRoomMembers]    Script Date: 26/11/1404 10:46:22 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessageRoomMembers](
	[MsgRMem_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MsgRMem_RoomID] [int] NOT NULL,
	[MsgRMem_UserID] [bigint] NOT NULL,
	[MsgRMem_UserIsGuest] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MsgRMem_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MessageRooms]    Script Date: 26/11/1404 10:46:22 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessageRooms](
	[MsgR_RoomID] [bigint] IDENTITY(1,1) NOT NULL,
	[MsgR_RoomName] [nvarchar](300) NOT NULL,
	[MsgR_CustomerID] [int] NULL,
 CONSTRAINT [PK__MessageR__594BE272ECAB3A17] PRIMARY KEY CLUSTERED 
(
	[MsgR_RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 26/11/1404 10:46:22 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[Msg_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Msg_SenderID] [bigint] NOT NULL,
	[Msg_Type] [smallint] NOT NULL,
	[Msg_SystemID] [smallint] NOT NULL,
	[Msg_CustomerID] [smallint] NULL,
	[Msg_Subject] [nvarchar](500) NULL,
	[Msg_Body] [nvarchar](max) NULL,
	[Msg_ParentMessageID] [bigint] NULL,
	[Msg_CreatedAt] [nvarchar](23) NOT NULL,
	[Msg_TargetEmails] [nvarchar](500) NULL,
	[Msg_FileStorageID] [bigint] NULL,
	[Msg_BPMSID] [bigint] NULL,
	[Msg_RoomID] [int] NULL,
 CONSTRAINT [PK__Messages__26A1722AAF1D5AC3] PRIMARY KEY CLUSTERED 
(
	[Msg_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MessageTypes]    Script Date: 26/11/1404 10:46:22 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessageTypes](
	[MsgT_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[MsgT_Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MsgT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Message_Archive] ON 

INSERT [dbo].[Message_Archive] ([MsgArchive_ID], [MsgArchive_Name], [MsgArchive_UserID]) VALUES (1, N'اداری', 1)
INSERT [dbo].[Message_Archive] ([MsgArchive_ID], [MsgArchive_Name], [MsgArchive_UserID]) VALUES (2, N'مالی', 1)
SET IDENTITY_INSERT [dbo].[Message_Archive] OFF
GO
SET IDENTITY_INSERT [dbo].[MessageRecipients] ON 

INSERT [dbo].[MessageRecipients] ([MsgRcp_ID], [MsgRcp_MessageID], [MsgRcp_UserID], [MsgRcp_DateTime], [MsgRcp_ReadTime], [MsgRcp_ArchiveID], [MsgRcp_IsDeleted]) VALUES (1, 1, 2, NULL, NULL, 1, 0)
INSERT [dbo].[MessageRecipients] ([MsgRcp_ID], [MsgRcp_MessageID], [MsgRcp_UserID], [MsgRcp_DateTime], [MsgRcp_ReadTime], [MsgRcp_ArchiveID], [MsgRcp_IsDeleted]) VALUES (2, 1, 3, NULL, NULL, 1, 0)
INSERT [dbo].[MessageRecipients] ([MsgRcp_ID], [MsgRcp_MessageID], [MsgRcp_UserID], [MsgRcp_DateTime], [MsgRcp_ReadTime], [MsgRcp_ArchiveID], [MsgRcp_IsDeleted]) VALUES (8, 5, 101, N'Feb 15 2026 10:33PM', NULL, 0, 0)
SET IDENTITY_INSERT [dbo].[MessageRecipients] OFF
GO
SET IDENTITY_INSERT [dbo].[MessageRoomMembers] ON 

INSERT [dbo].[MessageRoomMembers] ([MsgRMem_ID], [MsgRMem_RoomID], [MsgRMem_UserID], [MsgRMem_UserIsGuest]) VALUES (1, 1, 1, 0)
INSERT [dbo].[MessageRoomMembers] ([MsgRMem_ID], [MsgRMem_RoomID], [MsgRMem_UserID], [MsgRMem_UserIsGuest]) VALUES (2, 1, 2, 0)
INSERT [dbo].[MessageRoomMembers] ([MsgRMem_ID], [MsgRMem_RoomID], [MsgRMem_UserID], [MsgRMem_UserIsGuest]) VALUES (3, 1, 3, 0)
SET IDENTITY_INSERT [dbo].[MessageRoomMembers] OFF
GO
SET IDENTITY_INSERT [dbo].[MessageRooms] ON 

INSERT [dbo].[MessageRooms] ([MsgR_RoomID], [MsgR_RoomName], [MsgR_CustomerID]) VALUES (1, N'اتاق پشتیبانی', NULL)
INSERT [dbo].[MessageRooms] ([MsgR_RoomID], [MsgR_RoomName], [MsgR_CustomerID]) VALUES (2, N'اتاق توسعه', NULL)
INSERT [dbo].[MessageRooms] ([MsgR_RoomID], [MsgR_RoomName], [MsgR_CustomerID]) VALUES (3, N'اتاق مدیریت', NULL)
SET IDENTITY_INSERT [dbo].[MessageRooms] OFF
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([Msg_ID], [Msg_SenderID], [Msg_Type], [Msg_SystemID], [Msg_CustomerID], [Msg_Subject], [Msg_Body], [Msg_ParentMessageID], [Msg_CreatedAt], [Msg_TargetEmails], [Msg_FileStorageID], [Msg_BPMSID], [Msg_RoomID]) VALUES (1, 1, 1, 1, NULL, N'خوش‌آمدگویی', N'به سیستم خوش آمدید', NULL, N'2026-02-08 18:05:34.105', NULL, NULL, NULL, NULL)
INSERT [dbo].[Messages] ([Msg_ID], [Msg_SenderID], [Msg_Type], [Msg_SystemID], [Msg_CustomerID], [Msg_Subject], [Msg_Body], [Msg_ParentMessageID], [Msg_CreatedAt], [Msg_TargetEmails], [Msg_FileStorageID], [Msg_BPMSID], [Msg_RoomID]) VALUES (5, 101, 1, 2, 55, N'تست پیام', N'متن پیام', 0, N'Feb 15 2026 10:33PM', N'test@example.com;info@example.com', NULL, 0, 0)
INSERT [dbo].[Messages] ([Msg_ID], [Msg_SenderID], [Msg_Type], [Msg_SystemID], [Msg_CustomerID], [Msg_Subject], [Msg_Body], [Msg_ParentMessageID], [Msg_CreatedAt], [Msg_TargetEmails], [Msg_FileStorageID], [Msg_BPMSID], [Msg_RoomID]) VALUES (6, 101, 1, 2, 55, N'تست پیام', N'متن پیام', 0, N'Feb 15 2026 10:33PM', N'test@example.com;info@example.com', NULL, 0, 0)
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
SET IDENTITY_INSERT [dbo].[MessageTypes] ON 

INSERT [dbo].[MessageTypes] ([MsgT_ID], [MsgT_Name]) VALUES (1, N'Message')
INSERT [dbo].[MessageTypes] ([MsgT_ID], [MsgT_Name]) VALUES (2, N'Notification')
INSERT [dbo].[MessageTypes] ([MsgT_ID], [MsgT_Name]) VALUES (3, N'SMS')
SET IDENTITY_INSERT [dbo].[MessageTypes] OFF
GO
ALTER TABLE [dbo].[MessageRecipients] ADD  CONSTRAINT [DF__MessageRe__MsgRc__2D27B809]  DEFAULT ((0)) FOR [MsgRcp_ArchiveID]
GO
ALTER TABLE [dbo].[MessageRecipients] ADD  CONSTRAINT [DF__MessageRe__MsgRc__2E1BDC42]  DEFAULT ((0)) FOR [MsgRcp_IsDeleted]
GO
ALTER TABLE [dbo].[MessageRoomMembers] ADD  DEFAULT ((0)) FOR [MsgRMem_UserIsGuest]
GO
ALTER TABLE [dbo].[Messages] ADD  CONSTRAINT [DF__Messages__Msg_Cr__286302EC]  DEFAULT (sysdatetime()) FOR [Msg_CreatedAt]
GO
/****** Object:  StoredProcedure [dbo].[Delete_Message]    Script Date: 26/11/1404 10:46:22 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Delete_Message]
(
    @Msg_ID BIGINT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- 1️⃣ Delete recipients first (FK Safe)
        DELETE FROM [dbo].[MessageRecipients]
        WHERE MsgRcp_MessageID = @Msg_ID;

        -- 2️⃣ Delete message
        DELETE FROM [dbo].[Messages]
        WHERE Msg_ID = @Msg_ID;

        COMMIT TRANSACTION;

        SELECT 1 AS IsDeleted;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[Get_Messages]    Script Date: 26/11/1404 10:46:22 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Get_Messages]
(
    @Msg_ID		     Bigint = 0,
	@Msg_SystemID    INT = 0,
    @Msg_CustomerID  INT = 0,
    @Msg_Sender      BIGINT = 0,
    @Msg_Receiver    BIGINT = 0,
	@Msg_Creator     BIGINT = 0,
    @Msg_isArchive   BIT = 0,
    @Msg_DateTime1   NVARCHAR(23) = '',
    @Msg_DateTime2   NVARCHAR(23) = '',
    @Msg_SearchText  NVARCHAR(MAX) = '',
    @Msg_ArchiveID   BIGINT = 0,
    @PageNumber      INT = 1,
    @PageSize        INT = 20
)
AS
BEGIN
/*
	EXEC [dbo].[Get_Messages] 
	    @Msg_SearchText = N''
		
*/
    SET NOCOUNT ON;

    DECLARE @Sql NVARCHAR(MAX);
    DECLARE @Params NVARCHAR(MAX);
    DECLARE @WhereClause NVARCHAR(MAX) = ' WHERE (1=1) ';
    
    -- اعتبارسنجی مقادیر ورودی
    SET @PageNumber = ISNULL(NULLIF(@PageNumber, 0), 1);
    SET @PageSize = ISNULL(NULLIF(@PageSize, 0), 20);

    -- ساخت شرط‌های WHERE به صورت پویا
    IF @Msg_ID  != 0
        SET @WhereClause = @WhereClause + N' AND m.Msg_ID = @Msg_ID ';

    IF @Msg_SystemID != 0
        SET @WhereClause = @WhereClause + N' AND m.Msg_SystemID = @Msg_SystemID ';
    
    IF @Msg_CustomerID != 0
        SET @WhereClause = @WhereClause + N' AND m.Msg_CustomerID = @Msg_CustomerID ';
    
    IF @Msg_Sender != 0
        SET @WhereClause = @WhereClause + N' AND m.Msg_SenderID = @Msg_Sender ';
    
    IF @Msg_Receiver != 0
        SET @WhereClause = @WhereClause + N' AND mr.MsgRcp_UserID = @Msg_Receiver ';
    
    IF @Msg_isArchive != 0
        SET @WhereClause = @WhereClause + N' AND mr.MsgRcp_IsDeleted = @Msg_isArchive ';
    
    IF @Msg_ArchiveID != 0
        SET @WhereClause = @WhereClause + N' AND mr.MsgRcp_ArchiveID = @Msg_ArchiveID ';
    
    IF @Msg_DateTime1 != ''
        SET @WhereClause = @WhereClause + N' AND m.Msg_DateTime >= TRY_CONVERT(DATETIME2, @Msg_DateTime1, 103) ';
    
    IF @Msg_DateTime2 != ''
        SET @WhereClause = @WhereClause + N' AND m.Msg_DateTime < DATEADD(DAY, 1, TRY_CONVERT(DATETIME2, @Msg_DateTime2, 103)) ';
    
    IF @Msg_SearchText != ''
        SET @WhereClause = @WhereClause + N' AND CONCAT(ISNULL(m.Msg_Subject, N''''), N'' - '', ISNULL(m.Msg_Body, N'''')) LIKE N''%'' + @Msg_SearchText + N''%'' ';

    -- کوئری اصلی
    SET @Sql = N'
    WITH MessageCTE AS (
        SELECT 
            m.Msg_ID,
			mr.MsgRcp_ID,
            mr.MsgRcp_MessageID,
            mr.MsgRcp_UserID,
            mr.MsgRcp_DateTime,
            mr.MsgRcp_ReadTime,
            mr.MsgRcp_ArchiveID,
            mr.MsgRcp_IsDeleted,
            m.Msg_SystemID,
            m.Msg_CustomerID,
            m.Msg_SenderID,
            m.Msg_Subject,
			m.Msg_Body,
			a.MsgArchive_Name,
            COUNT(*) OVER() AS TotalRecords
        FROM [MessageRecipients] mr
        INNER JOIN [dbo].[Messages]        m ON m.Msg_ID        = mr.MsgRcp_MessageID
		Left  JOIN [dbo].[Message_Archive] a ON a.MsgArchive_ID = mr.MsgRcp_ArchiveID
        ' + @WhereClause + N'
    )
    SELECT 
        Msg_ID,
		MsgRcp_ID,
        MsgRcp_MessageID,
        MsgRcp_UserID,
        MsgRcp_DateTime,
        MsgRcp_ReadTime,
        MsgRcp_ArchiveID,
        MsgRcp_IsDeleted,
        Msg_SystemID,
        Msg_CustomerID,
        Msg_SenderID,
        Msg_Subject,
		Msg_Body,
		MsgArchive_Name,
        TotalRecords
    FROM MessageCTE
    ORDER BY MsgRcp_ID DESC
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;';

    -- تنظیم پارامترها
    SET @Params = N'
	    @Msg_ID	        Bigint,
        @Msg_SystemID   INT,
        @Msg_CustomerID INT,
        @Msg_Sender     BIGINT,
        @Msg_Receiver   BIGINT,
        @Msg_isArchive  BIT,
        @Msg_DateTime1  NVARCHAR(23),
        @Msg_DateTime2  NVARCHAR(23),
        @Msg_SearchText NVARCHAR(MAX),
        @Msg_ArchiveID  BIGINT,
        @PageNumber     INT,
        @PageSize       INT';

    -- اجرای کوئری
    EXEC sp_executesql @Sql, @Params,
	    @Msg_ID,
        @Msg_SystemID,
        @Msg_CustomerID,
        @Msg_Sender,
        @Msg_Receiver,
        @Msg_isArchive,
        @Msg_DateTime1,
        @Msg_DateTime2,
        @Msg_SearchText,
        @Msg_ArchiveID,
        @PageNumber,
        @PageSize;
		
		/*
CREATE NONCLUSTERED INDEX IX_Messages_SystemID ON Messages(Msg_SystemID);
CREATE NONCLUSTERED INDEX IX_Messages_CustomerID ON Messages(Msg_CustomerID);
CREATE NONCLUSTERED INDEX IX_Messages_Sender ON Messages(Msg_Sender);
CREATE NONCLUSTERED INDEX IX_Messages_DateTime ON Messages(Msg_DateTime);
CREATE NONCLUSTERED INDEX IX_MessageRecipients_UserID ON MessageRecipients(MsgRcp_UserID);
CREATE NONCLUSTERED INDEX IX_MessageRecipients_MessageID ON MessageRecipients(MsgRcp_MessageID);
*/
END
GO
/****** Object:  StoredProcedure [dbo].[Post_Message]    Script Date: 26/11/1404 10:46:22 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Post_Message]
(
    @CreatorUserID       INT,            -- کاربری که پیام را ثبت می‌کند
    @SenderID            INT,            -- فرستنده واقعی پیام
    @MessageTypeID       INT,
    @SystemID            INT     = NULL,
    @CustomerID          INT     = NULL,
    @Subject             NVARCHAR(500),
    @Body                NVARCHAR(MAX),
    @ParentMessageID     INT     = NULL,
    @TargetEmails        NVARCHAR(MAX) = NULL,
    @FileStorageID       INT     = NULL,
    @BPMSID              INT     = NULL,
    @RoomID              INT     = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        ----------------------------------------------------
        -- 1️⃣ Insert into Messages
        ----------------------------------------------------
        INSERT INTO [DB_MessageCenter].[dbo].[Messages]
        (
            Msg_SenderID,
            Msg_Type,
            Msg_SystemID,
            Msg_CustomerID,
            Msg_Subject,
            Msg_Body,
            Msg_ParentMessageID,
            Msg_CreatedAt,
            Msg_TargetEmails,
            Msg_FileStorageID,
            Msg_BPMSID,
            Msg_RoomID
        )
        VALUES
        (
            @SenderID,
            @MessageTypeID,
            @SystemID,
            @CustomerID,
            @Subject,
            @Body,
            @ParentMessageID,
            GETDATE(),
            @TargetEmails,
            @FileStorageID,
            @BPMSID,
            @RoomID
        );

        ----------------------------------------------------
        -- 2️⃣ Get inserted Message ID
        ----------------------------------------------------
        DECLARE @MessageID INT;
        SET @MessageID = SCOPE_IDENTITY();

        ----------------------------------------------------
        -- 3️⃣ Insert default recipient (Creator User)
        ----------------------------------------------------
        INSERT INTO [DB_MessageCenter].[dbo].[MessageRecipients]
        (
            MsgRcp_MessageID,
            MsgRcp_UserID,
            MsgRcp_DateTime,
            MsgRcp_ReadTime,
            MsgRcp_ArchiveID,
            MsgRcp_IsDeleted
        )
        VALUES
        (
            @MessageID,
            @CreatorUserID,
            GETDATE(),
            NULL,
            0,
            0
        );

        COMMIT TRANSACTION;

        ----------------------------------------------------
        -- 4️⃣ Return inserted Message ID
        ----------------------------------------------------
        SELECT @MessageID AS MessageID;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;

        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Message_MarkAsRead]    Script Date: 26/11/1404 10:46:22 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Message_MarkAsRead]
(
    @MessageID BIGINT,
    @UserID    BIGINT
)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE MessageRecipients
    SET MsgRcp_ReadTime = SYSDATETIME()
    WHERE
        MsgRcp_MessageID = @MessageID
        AND MsgRcp_RecipientUserID = @UserID
        AND MsgRcp_ReadTime IS NULL;

    -- EXEC sp_Log ...
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Message_Send]    Script Date: 26/11/1404 10:46:22 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Message_Send]
(
    @SenderID           BIGINT,
    @MessageTypeID      SMALLINT,
    @SystemID           SMALLINT,
    @Subject            NVARCHAR(200) = NULL,
    @Body               NVARCHAR(MAX),
    @ParentMessageID    BIGINT = NULL,
    @TargetEmails       NVARCHAR(500) = NULL,
    @FileStorageID      BIGINT = NULL,
    @BPMSID             BIGINT = NULL,
    @Recipients         dbo.BigIntList READONLY -- User Defined Table Type
)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;

        DECLARE @MessageID BIGINT;

        INSERT INTO Messages
        (
            Msg_SenderID,
            Msg_MessageTypeID,
            Msg_SystemID,
            Msg_Subject,
            Msg_Body,
            Msg_ParentMessageID,
            Msg_TargetEmails,
            Msg_FileStorageID,
            Msg_BPMSID
        )
        VALUES
        (
            @SenderID,
            @MessageTypeID,
            @SystemID,
            @Subject,
            @Body,
            @ParentMessageID,
            @TargetEmails,
            @FileStorageID,
            @BPMSID
        );

        SET @MessageID = SCOPE_IDENTITY();

        INSERT INTO MessageRecipients
        (
            MsgRcp_MessageID,
            MsgRcp_RecipientUserID,
            MsgRcp_IsArchived,
            MsgRcp_IsDeleted
        )
        SELECT
            @MessageID,
            ID,
            0,
            0
        FROM @Recipients;

        -- EXEC sp_Log ...

        COMMIT;
        SELECT @MessageID AS MessageID;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Message_SendToRoom]    Script Date: 26/11/1404 10:46:22 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Message_SendToRoom]
(
    @RoomID        INT,
    @SenderID      BIGINT,
    @MessageTypeID SMALLINT,
    @SystemID      SMALLINT,
    @Body          NVARCHAR(MAX)
)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;

        DECLARE @MessageID BIGINT;

        INSERT INTO Messages
        (
            Msg_SenderID,
            Msg_MessageTypeID,
            Msg_SystemID,
            Msg_Body
        )
        VALUES
        (
            @SenderID,
            @MessageTypeID,
            @SystemID,
            @Body
        );

        SET @MessageID = SCOPE_IDENTITY();

        INSERT INTO MessageRecipients
        (
            MsgRcp_MessageID,
            MsgRcp_RecipientUserID,
            MsgRcp_IsArchived,
            MsgRcp_IsDeleted
        )
        SELECT
            @MessageID,
            MsgRMem_UserID,
            0,
            0
        FROM MessageRoomMembers
        WHERE MsgRMem_RoomID = @RoomID;

        -- EXEC sp_Log ...

        COMMIT;
        SELECT @MessageID AS MessageID;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        THROW;
    END CATCH
END
GO
